/* the styles for the elements */
body {
	background-color: yellow;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	width: 650px;
}
/* the styles for the header */
header h1{ 
	color: steelblue;
}
/* the styles for the main */
main img{
	float: left;
}
/* the styles for the footer */
footer p {
	text-align: center;
}
